<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>616781478837-3v27dbt4eh9rnblamrn952rfd6rjbnt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.616781478837-3v27dbt4eh9rnblamrn952rfd6rjbnt2</string>
	<key>API_KEY</key>
	<string>AIzaSyCgw9h5t9thq1J_DbnOu2DA38KIVXDKE8c</string>
	<key>GCM_SENDER_ID</key>
	<string>616781478837</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.toshi-sv.cicdtest</string>
	<key>PROJECT_ID</key>
	<string>cicdtest-c0bd7</string>
	<key>STORAGE_BUCKET</key>
	<string>cicdtest-c0bd7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:616781478837:ios:6025b248cabe45467d77fc</string>
</dict>
</plist>